Repository ovh/debian-cis: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_has_test, shfmt, shellcheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check_has_test
        name: check_has_test.sh
        description: Ensure a check has a corresponding test
        entry: hooks/check_has_test.sh
        language: script
        pass_filenames: true
        files: "^bin/hardening/"
      - id: shfmt
        name: shfmt.sh
        description: Ensure correct formatting
        entry: hooks/shfmt.sh
        language: script
        pass_filenames: true
        files: "^(bin|tests)/hardening/"
      - id: shellcheck
        name: shellcheck.sh
        description: Ensure correct syntax
        entry: hooks/shellcheck.sh
        language: script
        pass_filenames: true
        files: "^(bin|tests)/hardening/"

chore: add new scripts for debian 12
  bin/hardening/dnsmasq_is_disabled.sh
  bin/hardening/gdm_is_removed.sh
  bin/hardening/package_manager_is_configured.sh
  bin/hardening/ptrace_scope_is_restricted.sh
  tests/hardening/dnsmasq_is_disabled.sh
  tests/hardening/gdm_is_removed.sh
  tests/hardening/package_manager_is_configured.sh
  tests/hardening/ptrace_scope_is_restricted.sh
Due: check_has_test, shfmt, shellcheck

chore: add new scripts for debian 12 (#278)
  bin/hardening/dnsmasq_is_disabled.sh
  bin/hardening/gdm_is_removed.sh
  bin/hardening/package_manager_is_configured.sh
  bin/hardening/ptrace_scope_is_restricted.sh
  tests/hardening/dnsmasq_is_disabled.sh
  tests/hardening/gdm_is_removed.sh
  tests/hardening/package_manager_is_configured.sh
  tests/hardening/ptrace_scope_is_restricted.sh
Due: check_has_test, shfmt, shellcheck

add "apt_remove" in lib/utils.sh
  lib/utils.sh
Due: none

feat: add new scripts for debian 12
  bin/hardening/chrony_is_enabled_and_running.sh
  bin/hardening/network_services_listening.sh
  bin/hardening/tftp_is_disabled.sh
  cisharden.sudoers
  debian/control
  tests/docker/Dockerfile.debian11
  tests/docker/Dockerfile.debian12
  tests/hardening/chrony_is_enabled_and_running.sh
  tests/hardening/network_services_listening.sh
  tests/hardening/tftp_is_disabled.sh
  tests/hardening/use_time_sync.sh
Due: check_has_test, shfmt, shellcheck

feat: add 'is_service_active' in lib
  lib/utils.sh
Due: none

feat: add debian12 scripts
  bin/hardening/iptables_persistent_is_not_installed.sh
  bin/hardening/libpam_runtime_is_version.sh
  bin/hardening/nftables_not_installed_with_iptables.sh
  bin/hardening/ufw_is_enabled.sh
  bin/hardening/ufw_is_installed.sh
  lib/utils.sh
  tests/hardening/iptables_persistent_is_not_installed.sh
  tests/hardening/libpam_runtime_is_version.sh
  tests/hardening/nftables_not_installed_with_iptables.sh
  tests/hardening/ufw_is_enabled.sh
  tests/hardening/ufw_is_installed.sh
Due: check_has_test, shfmt, shellcheck

Damcava35/deb12 scripts 3 (#279)
  bin/hardening/chrony_is_enabled_and_running.sh
  bin/hardening/network_services_listening.sh
  bin/hardening/tftp_is_disabled.sh
  cisharden.sudoers
  debian/control
  lib/utils.sh
  tests/docker/Dockerfile.debian11
  tests/docker/Dockerfile.debian12
  tests/hardening/chrony_is_enabled_and_running.sh
  tests/hardening/network_services_listening.sh
  tests/hardening/tftp_is_disabled.sh
  tests/hardening/use_time_sync.sh
Due: check_has_test, shfmt, shellcheck

Fix typo 'paswword' to 'password' in password_last_change_past.sh
  bin/hardening/password_last_change_past.sh
Due: check_has_test, shfmt, shellcheck

fix: issue #283
  lib/utils.sh
Due: none

fix: issue #283 (#284)
  lib/utils.sh
Due: none

Fix typo 'paswword' to 'password' in password_last_change_past.sh (#280)
  bin/hardening/password_last_change_past.sh
Due: check_has_test, shfmt, shellcheck

fix: --set-hardening-level is messing with configuration files
  bin/hardening.sh
Due: none

fix: --set-hardening-level is messing with configuration files (#285)
  bin/hardening.sh
Due: none

fix: quickstart README
  README.md
Due: none

fix: quickstart README (#286)
  README.md
Due: none

feat: add new checks for debian12
  bin/hardening/chrony_with_chrony_user.sh
  bin/hardening/ftp_client_not_installed.sh
  bin/hardening/ipv6_is_enabled.sh
  bin/hardening/rpcbind_is_disabled.sh
  bin/hardening/systemd_timesyncd_is_enabled_and_running.sh
  cisharden.sudoers
  debian/control
  lib/utils.sh
  tests/docker/Dockerfile.debian11
  tests/docker/Dockerfile.debian12
  tests/hardening/chrony_with_chrony_user.sh
  tests/hardening/ftp_client_not_installed.sh
  tests/hardening/ipv6_is_enabled.sh
  tests/hardening/rpcbind_is_disabled.sh
  tests/hardening/systemd_timesyncd_is_enabled_and_running.sh
Due: check_has_test, shfmt, shellcheck

fix: ipv6 may be partially disabled
  lib/utils.sh
Due: none

fix: ipv6 may be enabled on a single interface
  lib/utils.sh
Due: none

feat: add debian12 scripts
  bin/hardening/ip6tables_default_deny_policy.sh
  bin/hardening/ip6tables_loopback.sh
  bin/hardening/ip6tables_outbound_established.sh
  bin/hardening/ip6tables_rule_them_all.sh
  bin/hardening/iptables_loopback.sh
  bin/hardening/iptables_outbound_established.sh
  bin/hardening/iptables_rule_them_all.sh
  tests/hardening/ip6tables_default_deny_policy.sh
  tests/hardening/ip6tables_loopback.sh
  tests/hardening/ip6tables_outbound_established.sh
  tests/hardening/ip6tables_rule_them_all.sh
  tests/hardening/iptables_loopback.sh
  tests/hardening/iptables_outbound_established.sh
  tests/hardening/iptables_rule_them_all.sh
Due: check_has_test, shfmt, shellcheck

feat: add debian12 scripts
  bin/hardening/sudo_re_authenticate.sh
  tests/hardening/sudo_re_authenticate.sh
Due: check_has_test, shfmt, shellcheck

feat: add debian12 scripts
  bin/hardening/enable_lockout_failed_password.sh
  bin/hardening/pam_faillock_enabled.sh
  bin/hardening/pam_pwhistory_enabled.sh
  bin/hardening/pam_unix_enabled.sh
  bin/hardening/password_failed_lockout.sh
  bin/hardening/password_root_unlock.sh
  bin/hardening/password_unlock_time.sh
  bin/hardening/sudo_re_authenticate.sh
  tests/hardening/enable_lockout_failed_password.sh
  tests/hardening/pam_faillock_enabled.sh
  tests/hardening/pam_pwhistory_enabled.sh
  tests/hardening/pam_unix_enabled.sh
  tests/hardening/password_failed_lockout.sh
  tests/hardening/password_root_unlock.sh
  tests/hardening/password_unlock_time.sh
  tests/hardening/sudo_re_authenticate.sh
  versions/ovh_legacy/5.3.2_enable_lockout_failed_password.sh
Due: check_has_test, shfmt, shellcheck

Damcava35/deb12 scripts 4 (#287)
  bin/hardening/chrony_with_chrony_user.sh
  bin/hardening/ftp_client_not_installed.sh
  bin/hardening/ipv6_is_enabled.sh
  bin/hardening/rpcbind_is_disabled.sh
  bin/hardening/systemd_timesyncd_is_enabled_and_running.sh
  cisharden.sudoers
  debian/control
  lib/utils.sh
  tests/docker/Dockerfile.debian11
  tests/docker/Dockerfile.debian12
  tests/hardening/chrony_with_chrony_user.sh
  tests/hardening/ftp_client_not_installed.sh
  tests/hardening/ipv6_is_enabled.sh
  tests/hardening/rpcbind_is_disabled.sh
  tests/hardening/systemd_timesyncd_is_enabled_and_running.sh
Due: check_has_test, shfmt, shellcheck

refacto: systemd is-active / is-enabled
  lib/utils.sh
Due: none

feat: add debian12 scripts
  bin/hardening/iptables_persistent_is_not_installed.sh
  bin/hardening/libpam_runtime_is_version.sh
  bin/hardening/nftables_not_installed_with_iptables.sh
  bin/hardening/ufw_is_enabled.sh
  bin/hardening/ufw_is_installed.sh
  tests/hardening/iptables_persistent_is_not_installed.sh
  tests/hardening/libpam_runtime_is_version.sh
  tests/hardening/nftables_not_installed_with_iptables.sh
  tests/hardening/ufw_is_enabled.sh
  tests/hardening/ufw_is_installed.sh
Due: check_has_test, shfmt, shellcheck

feat: add debian12 scripts
  bin/hardening/password_dictcheck_enabled.sh
  bin/hardening/password_number_changed_chars.sh
  bin/hardening/password_quality_enforced.sh
  bin/hardening/password_quality_enforced_for_root.sh
  tests/hardening/password_dictcheck_enabled.sh
  tests/hardening/password_number_changed_chars.sh
  tests/hardening/password_quality_enforced.sh
  tests/hardening/password_quality_enforced_for_root.sh
Due: check_has_test, shfmt, shellcheck

Damcava35/deb12 scripts 5 (#289)
  bin/hardening/iptables_persistent_is_not_installed.sh
  bin/hardening/libpam_runtime_is_version.sh
  bin/hardening/nftables_not_installed_with_iptables.sh
  bin/hardening/ufw_is_enabled.sh
  bin/hardening/ufw_is_installed.sh
  lib/utils.sh
  tests/hardening/iptables_persistent_is_not_installed.sh
  tests/hardening/libpam_runtime_is_version.sh
  tests/hardening/nftables_not_installed_with_iptables.sh
  tests/hardening/ufw_is_enabled.sh
  tests/hardening/ufw_is_installed.sh
Due: check_has_test, shfmt, shellcheck

feat: add debian12 scripts
  .pre-commit-config.yaml
  bin/hardening/aide_is_installed.sh
  bin/hardening/at_is_restricted.sh
  bin/hardening/bluetooth_is_disabled.sh
  bin/hardening/sudo_no_nopasswd.sh
  bin/hardening/wireless_interfaces_disabled.sh
  hooks/check_is_executable.sh
  tests/hardening/aide_is_installed.sh
  tests/hardening/at_is_restricted.sh
  tests/hardening/bluetooth_is_disabled.sh
  tests/hardening/sudo_no_nopasswd.sh
  tests/hardening/wireless_interfaces_disabled.sh
Due: check_has_test, shfmt, shellcheck

feat: add debian12 scripts (#290)
  .pre-commit-config.yaml
  bin/hardening/aide_is_installed.sh
  bin/hardening/at_is_restricted.sh
  bin/hardening/bluetooth_is_disabled.sh
  bin/hardening/sudo_no_nopasswd.sh
  bin/hardening/wireless_interfaces_disabled.sh
  hooks/check_is_executable.sh
  tests/hardening/aide_is_installed.sh
  tests/hardening/at_is_restricted.sh
  tests/hardening/bluetooth_is_disabled.sh
  tests/hardening/sudo_no_nopasswd.sh
  tests/hardening/wireless_interfaces_disabled.sh
Due: check_has_test, shfmt, shellcheck

feat: add debian12 scripts
  bin/hardening/aide_daily_check.sh
  bin/hardening/journald_is_enabled.sh
  bin/hardening/systemd_journal_remote_is_disabled.sh
  bin/hardening/systemd_journal_remote_is_installed.sh
  bin/hardening/systemd_journal_upload_is_enabled.sh
  tests/hardening/aide_daily_check.sh
  tests/hardening/journald_is_enabled.sh
  tests/hardening/systemd_journal_remote_is_disabled.sh
  tests/hardening/systemd_journal_remote_is_installed.sh
  tests/hardening/systemd_journal_upload_is_enabled.sh
Due: check_has_test, shfmt, shellcheck

feat: add debian12 scripts (#291)
  bin/hardening/aide_daily_check.sh
  bin/hardening/journald_is_enabled.sh
  bin/hardening/systemd_journal_remote_is_disabled.sh
  bin/hardening/systemd_journal_remote_is_installed.sh
  bin/hardening/systemd_journal_upload_is_enabled.sh
  tests/hardening/aide_daily_check.sh
  tests/hardening/journald_is_enabled.sh
  tests/hardening/systemd_journal_remote_is_disabled.sh
  tests/hardening/systemd_journal_remote_is_installed.sh
  tests/hardening/systemd_journal_upload_is_enabled.sh
Due: check_has_test, shfmt, shellcheck

feat: add debian12 scripts
  bin/hardening/auditd_logs_full_halt.sh
  bin/hardening/libpam_modules_is_installed.sh
  bin/hardening/sudo_auth_timeout.sh
  bin/hardening/systemd_journal_upload_remote_auth.sh
  bin/hardening/ufw_not_installed_with_iptables.sh
  bin/hardening/ufw_not_installed_with_nftables.sh
  lib/utils.sh
  tests/hardening/auditd_logs_full_halt.sh
  tests/hardening/libpam_modules_is_installed.sh
  tests/hardening/sudo_auth_timeout.sh
  tests/hardening/systemd_journal_upload_remote_auth.sh
  tests/hardening/ufw_not_installed_with_iptables.sh
  tests/hardening/ufw_not_installed_with_nftables.sh
Due: check_has_test, shfmt, shellcheck

feat: add debian12 scripts (#292)
  bin/hardening/auditd_logs_full_halt.sh
  bin/hardening/libpam_modules_is_installed.sh
  bin/hardening/sudo_auth_timeout.sh
  bin/hardening/systemd_journal_upload_remote_auth.sh
  bin/hardening/ufw_not_installed_with_iptables.sh
  bin/hardening/ufw_not_installed_with_nftables.sh
  lib/utils.sh
  tests/hardening/auditd_logs_full_halt.sh
  tests/hardening/libpam_modules_is_installed.sh
  tests/hardening/sudo_auth_timeout.sh
  tests/hardening/systemd_journal_upload_remote_auth.sh
  tests/hardening/ufw_not_installed_with_iptables.sh
  tests/hardening/ufw_not_installed_with_nftables.sh
Due: check_has_test, shfmt, shellcheck

feat: add debian12 scripts
  bin/hardening/nftables_default_deny_policy.sh
  bin/hardening/nftables_has_base_chains.sh
  bin/hardening/nftables_has_table.sh
  bin/hardening/nftables_is_enabled.sh
  bin/hardening/nftables_rules_permanent.sh
  cisharden.sudoers
  tests/hardening/nftables_default_deny_policy.sh
  tests/hardening/nftables_has_base_chains.sh
  tests/hardening/nftables_has_table.sh
  tests/hardening/nftables_is_enabled.sh
  tests/hardening/nftables_not_installed_with_iptables.sh
  tests/hardening/nftables_rules_permanent.sh
Due: check_has_test, shfmt, shellcheck

feat: add debian12 scripts (#293)
  bin/hardening/nftables_default_deny_policy.sh
  bin/hardening/nftables_has_base_chains.sh
  bin/hardening/nftables_has_table.sh
  bin/hardening/nftables_is_enabled.sh
  bin/hardening/nftables_rules_permanent.sh
  cisharden.sudoers
  tests/hardening/nftables_default_deny_policy.sh
  tests/hardening/nftables_has_base_chains.sh
  tests/hardening/nftables_has_table.sh
  tests/hardening/nftables_is_enabled.sh
  tests/hardening/nftables_not_installed_with_iptables.sh
  tests/hardening/nftables_rules_permanent.sh
Due: check_has_test, shfmt, shellcheck

fix ssh related tests
  tests/hardening/configure_ssh_max_startups.sh
  tests/hardening/disable_root_login.sh
  tests/hardening/disable_ssh_allow_tcp_forwarding.sh
  tests/hardening/disable_sshd_hostbasedauthentication.sh
  tests/hardening/disable_sshd_permitemptypasswords.sh
  tests/hardening/disable_sshd_setenv.sh
  tests/hardening/disable_x11_forwarding.sh
  tests/hardening/enable_ssh_pam.sh
  tests/hardening/enable_sshd_ignorerhosts.sh
  tests/hardening/limit_ssh_max_sessions.sh
  tests/hardening/ssh_auth_pubk_only.sh
  tests/hardening/ssh_banner.sh
  tests/hardening/ssh_cry_kex.sh
  tests/hardening/ssh_cry_mac.sh
  tests/hardening/ssh_cry_rekey.sh
  tests/hardening/ssh_disable_features.sh
  tests/hardening/ssh_strict_modes.sh
  tests/hardening/ssh_sys_accept_env.sh
  tests/hardening/sshd_ciphers.sh
  tests/hardening/sshd_idle_timeout.sh
  tests/hardening/sshd_limit_access.sh
  tests/hardening/sshd_login_grace_time.sh
  tests/hardening/sshd_loglevel.sh
  tests/hardening/sshd_maxauthtries.sh
  tests/hardening/sshd_protocol.sh
Due: shfmt, shellcheck

feat: add debian12 scripts
  bin/hardening/iptables_flushed_with_nftables.sh
  bin/hardening/nftables_established_connections.sh
  bin/hardening/nftables_loopback_is_configured.sh
  bin/hardening/ufw_default_deny.sh
  bin/hardening/ufw_loopback_is_configured.sh
  bin/hardening/ufw_outbound_connection.sh
  bin/hardening/ufw_rules_them_all.sh
  cisharden.sudoers
  tests/hardening/iptables_flushed_with_nftables.sh
  tests/hardening/nftables_established_connections.sh
  tests/hardening/nftables_loopback_is_configured.sh
  tests/hardening/ufw_default_deny.sh
  tests/hardening/ufw_loopback_is_configured.sh
  tests/hardening/ufw_outbound_connection.sh
  tests/hardening/ufw_rules_them_all.sh
Due: check_has_test, shfmt, shellcheck

Create npm install --global surge
  npm install --global surge
Due: none

Damcava35/deb12 scripts 10 (#294)
  bin/hardening/iptables_flushed_with_nftables.sh
  bin/hardening/nftables_established_connections.sh
  bin/hardening/nftables_loopback_is_configured.sh
  bin/hardening/ufw_default_deny.sh
  bin/hardening/ufw_loopback_is_configured.sh
  bin/hardening/ufw_outbound_connection.sh
  bin/hardening/ufw_rules_them_all.sh
  cisharden.sudoers
  tests/hardening/configure_ssh_max_startups.sh
  tests/hardening/disable_root_login.sh
  tests/hardening/disable_ssh_allow_tcp_forwarding.sh
  tests/hardening/disable_sshd_hostbasedauthentication.sh
  tests/hardening/disable_sshd_permitemptypasswords.sh
  tests/hardening/disable_sshd_setenv.sh
  tests/hardening/disable_x11_forwarding.sh
  tests/hardening/enable_ssh_pam.sh
  tests/hardening/enable_sshd_ignorerhosts.sh
  tests/hardening/iptables_flushed_with_nftables.sh
  tests/hardening/limit_ssh_max_sessions.sh
  tests/hardening/nftables_established_connections.sh
  tests/hardening/nftables_loopback_is_configured.sh
  tests/hardening/ssh_auth_pubk_only.sh
  tests/hardening/ssh_banner.sh
  tests/hardening/ssh_cry_kex.sh
  tests/hardening/ssh_cry_mac.sh
  tests/hardening/ssh_cry_rekey.sh
  tests/hardening/ssh_disable_features.sh
  tests/hardening/ssh_strict_modes.sh
  tests/hardening/ssh_sys_accept_env.sh
  tests/hardening/sshd_ciphers.sh
  tests/hardening/sshd_idle_timeout.sh
  tests/hardening/sshd_limit_access.sh
  tests/hardening/sshd_login_grace_time.sh
  tests/hardening/sshd_loglevel.sh
  tests/hardening/sshd_maxauthtries.sh
  tests/hardening/sshd_protocol.sh
  tests/hardening/ufw_default_deny.sh
  tests/hardening/ufw_loopback_is_configured.sh
  tests/hardening/ufw_outbound_connection.sh
  tests/hardening/ufw_rules_them_all.sh
Due: check_has_test, shfmt, shellcheck

feat: add debian12 scripts
  bin/hardening/ip6tables_default_deny_policy.sh
  bin/hardening/ip6tables_loopback.sh
  bin/hardening/ip6tables_outbound_established.sh
  bin/hardening/ip6tables_rules_them_all.sh
  bin/hardening/iptables_loopback.sh
  bin/hardening/iptables_outbound_established.sh
  bin/hardening/iptables_rules_them_all.sh
  tests/hardening/ip6tables_default_deny_policy.sh
  tests/hardening/ip6tables_loopback.sh
  tests/hardening/ip6tables_outbound_established.sh
  tests/hardening/ip6tables_rules_them_all.sh
  tests/hardening/iptables_loopback.sh
  tests/hardening/iptables_outbound_established.sh
  tests/hardening/iptables_rules_them_all.sh
  tests/hardening/ipv6_is_enabled.sh
  tests/launch_tests.sh
  tests/utils.sh
Due: check_has_test, shfmt, shellcheck
