Repository ovh/debian-cis: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_has_test, shfmt, shellcheck, check_is_executable

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check_has_test
        name: check_has_test.sh
        description: Ensure a check has a corresponding test
        entry: hooks/check_has_test.sh
        language: script
        pass_filenames: true
        files: "^bin/hardening/"
      - id: shfmt
        name: shfmt.sh
        description: Ensure correct formatting
        entry: hooks/shfmt.sh
        language: script
        pass_filenames: true
        files: "^(bin|tests)/hardening/"
      - id: shellcheck
        name: shellcheck.sh
        description: Ensure correct syntax
        entry: hooks/shellcheck.sh
        language: script
        pass_filenames: true
        files: "^(bin|tests)/hardening/"
      - id: check_is_executable
        name: check_is_executable.sh
        description: Ensure checks are executables
        entry: hooks/check_is_executable.sh
        language: script
        pass_filenames: true
        files: "^bin/hardening/"

Add debian 12 scripts (#342)
  bin/hardening/gdm_automatic_mounting_disabled.sh
  bin/hardening/gdm_autorun_never_not_overridden.sh
  bin/hardening/gdm_screen_lock_override_locked.sh
  bin/hardening/iptables_default_deny_policy.sh
  bin/hardening/message_access_server_services_not_in_use.sh
  bin/hardening/root_only_gid0_account.sh
  tests/hardening/gdm_automatic_mounting_disabled.sh
  tests/hardening/gdm_autorun_never_not_overridden.sh
  tests/hardening/gdm_screen_lock_override_locked.sh
  tests/hardening/iptables_default_deny_policy.sh
  tests/hardening/message_access_server_services_not_in_use.sh
  tests/hardening/root_only_gid0_account.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

make linter happy
  tests/engine/test_audit.sh
  tests/engine/test_audit_all.sh
  tests/engine/test_audit_all_enable.sh
  tests/engine/test_batch_mode.sh
  tests/engine/test_hardening_level.sh
  tests/engine/test_log_level.sh
  tests/engine/test_main_conf_links.sh
  tests/engine/test_only.sh
  tests/engine/test_sudo.sh
  tests/engine/test_summary_json.sh
  tests/engine/test_version.sh
Due: none

add engine '--summary-json' tests
  .github/workflows/engine-tests.yml
  tests/engine/test_summary_json.sh
Due: none

add engine '--batch' tests
  .github/workflows/engine-tests.yml
  tests/engine/test_batch_mode.sh
Due: none

add engine '--audit' tests
  .github/workflows/engine-tests.yml
  tests/engine/test_audit.sh
Due: none

add engine '--only' tests
  .github/workflows/engine-tests.yml
  tests/engine/test_only.sh
Due: none

add engine '--audit-all-enabled-passed' tests
  .github/workflows/engine-tests.yml
  tests/engine/test_audit_all_enable.sh
Due: none

refacto "engine" conf test
  .github/workflows/engine-tests.yml
  tests/engine/lib.sh
  tests/engine/test_main_conf_links.sh
Due: none

fix --set-hardening-level bug
  bin/hardening.sh
Due: none

add 'engine' test on --set-hardening-level
  .github/workflows/engine-tests.yml
  tests/engine/test_hardening_level.sh
Due: none

add engine '--audit-all' tests
  .github/workflows/engine-tests.yml
  tests/engine/test_audit_all.sh
Due: none

add engine '--set-log-level' tests
  .github/workflows/engine-tests.yml
  tests/engine/test_log_level.sh
Due: none

add engine '--sudo' tests
  .github/workflows/engine-tests.yml
  tests/engine/lib.sh
  tests/engine/test_sudo.sh
Due: none

add engine '--set-version' tests
  .github/workflows/engine-tests.yml
  tests/engine/test_version.sh
Due: none

Dev/damien.cavagnini/engine tests (#358)
  .github/workflows/engine-tests.yml
  bin/hardening.sh
  tests/engine/lib.sh
  tests/engine/test_audit.sh
  tests/engine/test_audit_all.sh
  tests/engine/test_audit_all_enable.sh
  tests/engine/test_batch_mode.sh
  tests/engine/test_hardening_level.sh
  tests/engine/test_log_level.sh
  tests/engine/test_main_conf_links.sh
  tests/engine/test_only.sh
  tests/engine/test_sudo.sh
  tests/engine/test_summary_json.sh
  tests/engine/test_version.sh
Due: none

add new debian 12 scripts
  AGENTS.md
  bin/hardening/find_unowned_ungrouped_files.sh
  bin/hardening/find_world_writable_files_and_folders.sh
  bin/hardening/graphical_warning_banners.sh
  bin/hardening/local_login_banner.sh
  bin/hardening/nis_server_disabled.sh
  bin/hardening/pam_unix_strong_hash_algorithm.sh
  bin/hardening/password_last_change_past.sh
  tests/hardening/find_unowned_ungrouped_files.sh
  tests/hardening/find_world_writable_files_and_folders.sh
  tests/hardening/graphical_warning_banners.sh
  tests/hardening/local_login_banner.sh
  tests/hardening/nis_server_disabled.sh
  tests/hardening/pam_unix_strong_hash_algorithm.sh
  tests/hardening/password_last_change_past.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

add new debian 12 scripts (#344)
  AGENTS.md
  bin/hardening/find_unowned_ungrouped_files.sh
  bin/hardening/find_world_writable_files_and_folders.sh
  bin/hardening/graphical_warning_banners.sh
  bin/hardening/local_login_banner.sh
  bin/hardening/nis_server_disabled.sh
  bin/hardening/pam_unix_strong_hash_algorithm.sh
  bin/hardening/password_last_change_past.sh
  tests/hardening/find_unowned_ungrouped_files.sh
  tests/hardening/find_world_writable_files_and_folders.sh
  tests/hardening/graphical_warning_banners.sh
  tests/hardening/local_login_banner.sh
  tests/hardening/nis_server_disabled.sh
  tests/hardening/pam_unix_strong_hash_algorithm.sh
  tests/hardening/password_last_change_past.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

update 5.4.1.4 mapping
  versions/debian_12/5.4.1.4_acc_logindefs_sha512.sh
Due: none

test(var_nodev): cover add_option_to_fstab in fstab regression test
  tests/hardening/var_nodev.sh
Due: shfmt, shellcheck

debian 11 is obsolete
  .github/workflows/functionnal-tests.yml
  MANUAL.md
  README.md
  tests/docker/Dockerfile.debian11
Due: none

Regenerate man pages (Github action)
  debian/cis-hardening.8
Due: none

Damcav35/debian11 obsolete (#369)
  .github/workflows/functionnal-tests.yml
  MANUAL.md
  README.md
  debian/cis-hardening.8
  tests/docker/Dockerfile.debian11
Due: none

fix: check kernel configuration options for module availability
  .github/workflows/engine-tests.yml
  bin/hardening/disable_cramfs.sh
  bin/hardening/disable_dccp.sh
  bin/hardening/disable_freevxfs.sh
  bin/hardening/disable_hfs.sh
  bin/hardening/disable_hfsplus.sh
  bin/hardening/disable_jffs2.sh
  bin/hardening/disable_rds.sh
  bin/hardening/disable_sctp.sh
  bin/hardening/disable_squashfs.sh
  bin/hardening/disable_tipc.sh
  bin/hardening/disable_udf.sh
  bin/hardening/disable_usb_storage.sh
  tests/engine/test_module_availability.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix(utils): only append mount options to the options field in fstab (#363)
  lib/utils.sh
  tests/hardening/var_nodev.sh
Due: shfmt, shellcheck

fix: audit APT repository configuration without refresh
  bin/hardening/package_manager_is_configured.sh
  tests/hardening/package_manager_is_configured.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix: detect APT authentication bypass configuration
  bin/hardening/apt_gpg_is_configured.sh
  tests/hardening/apt_gpg_is_configured.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix: discover and block wireless drivers safely
  bin/hardening/wireless_interfaces_disabled.sh
  tests/hardening/wireless_interfaces_disabled.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix: preserve audit integrity and canonical configuration state
  .github/workflows/engine-tests.yml
  README.md
  bin/hardening.sh
  bin/hardening/install_updates.sh
  lib/common.sh
  lib/main.sh
  lib/utils.sh
  tests/engine/test_audit_integrity.sh
  tests/engine/test_cli_validation.sh
  tests/engine/test_common_results.sh
  tests/engine/test_config_status.sh
  tests/engine/test_package_results.sh
  tests/engine/test_paths_with_spaces.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

Fix audit_bootloader.sh
  bin/hardening/audit_bootloader.sh
  tests/hardening/audit_bootloader.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

cron_allow_restrictions.sh : make user and group configurable
  bin/hardening/cron_allow_restrictions.sh
  tests/hardening/cron_allow_restrictions.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

feat: add EXCLUDED in find_suid_and_sgid_files.sh
  bin/hardening/find_suid_and_sgid_files.sh
  tests/hardening/find_suid_and_sgid_files.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix: ssh_cry_mac.sh
  bin/hardening/ssh_cry_mac.sh
  tests/hardening/ssh_cry_mac.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

Damcav35/update scripts 4 (#375)
  bin/hardening/audit_bootloader.sh
  bin/hardening/cron_allow_restrictions.sh
  bin/hardening/find_suid_and_sgid_files.sh
  bin/hardening/ssh_cry_mac.sh
  tests/hardening/audit_bootloader.sh
  tests/hardening/cron_allow_restrictions.sh
  tests/hardening/find_suid_and_sgid_files.sh
  tests/hardening/ssh_cry_mac.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

update some scripts to debian 12 CIS standards (#345)
  AGENTS.md
  bin/hardening/acc_logindefs_sha512.sh
  bin/hardening/sshd_ciphers.sh
  bin/hardening/sshd_idle_timeout.sh
  tests/hardening/acc_logindefs_sha512.sh
  tests/hardening/sshd_ciphers.sh
  tests/hardening/sshd_idle_timeout.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

update scripts to debian 12 standards (#346)
  AGENTS.md
  bin/hardening/disable_automounting.sh
  bin/hardening/disable_avahi_server.sh
  bin/hardening/disable_http_proxy.sh
  bin/hardening/disable_http_server.sh
  bin/hardening/disable_nis.sh
  bin/hardening/disable_print_server.sh
  bin/hardening/disable_rsync.sh
  bin/hardening/disable_samba.sh
  bin/hardening/disable_snmp_server.sh
  bin/hardening/disable_xinetd.sh
  tests/hardening/disable_automounting.sh
  tests/hardening/disable_avahi_server.sh
  tests/hardening/disable_http_proxy.sh
  tests/hardening/disable_http_server.sh
  tests/hardening/disable_nis.sh
  tests/hardening/disable_print_server.sh
  tests/hardening/disable_rsync.sh
  tests/hardening/disable_samba.sh
  tests/hardening/disable_snmp_server.sh
  tests/hardening/disable_xinetd.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

Damcav35/minor fixes (#349)
  AGENTS.md
  bin/hardening/default_timeout.sh
  bin/hardening/mta_localhost.sh
  tests/hardening/mta_localhost.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

update exceptions find_suid_and_sgid_files.sh (#365)
  bin/hardening/find_suid_and_sgid_files.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix: detect a native nftables ruleset in the firewall policy checks
  bin/hardening/net_fw_default_policy_drop.sh
  bin/hardening/nftables_default_deny_policy.sh
  bin/hardening/nftables_established_connections.sh
  bin/hardening/nftables_has_base_chains.sh
  bin/hardening/nftables_loopback_is_configured.sh
  bin/hardening/nftables_rules_permanent.sh
  lib/utils.sh
  tests/hardening/net_fw_default_policy_drop.sh
  tests/hardening/nftables_default_deny_policy.sh
  tests/hardening/nftables_has_base_chains.sh
  tests/hardening/nftables_rules_permanent.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix some tests
  tests/hardening/password_last_change_past.sh
  tests/hardening/sshd_conf_perm_ownership.sh
  tests/hardening/sshd_disable_gssapi.sh
Due: shfmt, shellcheck
