Repository ovh/debian-cis: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_has_test, shfmt, shellcheck, check_is_executable

check_has_test:
  name: check_has_test.sh
  description: Ensure a check has a corresponding test
  entry: hooks/check_has_test.sh
  language: script
  pass_filenames: true

shfmt:
  name: shfmt.sh
  description: Ensure correct formatting
  entry: hooks/shfmt.sh
  language: script
  pass_filenames: true

shellcheck:
  name: shellcheck.sh
  description: Ensure correct syntax
  entry: hooks/shellcheck.sh
  language: script
  pass_filenames: true

check_is_executable:
  name: check_is_executable.sh
  description: Ensure checks are executables
  entry: hooks/check_is_executable.sh
  language: script
  pass_filenames: true

fix: kernel module disabling scripts (#324)
  bin/hardening/disable_cramfs.sh
  bin/hardening/disable_dccp.sh
  bin/hardening/disable_freevxfs.sh
  bin/hardening/disable_hfs.sh
  bin/hardening/disable_hfsplus.sh
  bin/hardening/disable_jffs2.sh
  bin/hardening/disable_rds.sh
  bin/hardening/disable_sctp.sh
  bin/hardening/disable_squashfs.sh
  bin/hardening/disable_tipc.sh
  bin/hardening/disable_udf.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix: only report genuinely-installed packages in is_pkg_installed
  lib/utils.sh
  tests/hardening/audit_conf_group.sh
  tests/hardening/audit_conf_owner.sh
  tests/hardening/audit_confs_perms.sh
  tests/hardening/audit_log_directory_perms.sh
  tests/hardening/audit_log_group.sh
  tests/hardening/audit_log_perms.sh
  tests/hardening/audit_log_user.sh
  tests/hardening/audit_tools_group.sh
  tests/hardening/audit_tools_owner.sh
  tests/hardening/audit_tools_perms.sh
  tests/hardening/auditd_running_config_same_on_disk.sh
Due: shfmt, shellcheck

Damcav35/deb12 scripts 19 (#320)
  bin/hardening/chrony_authorized_server.sh
  bin/hardening/dev_shm_nodev.sh
  bin/hardening/dev_shm_noexec.sh
  bin/hardening/dev_shm_nosuid.sh
  bin/hardening/sshd_disable_gssapi.sh
  bin/hardening/timesyncd_authorized_server.sh
  tests/hardening/chrony_authorized_server.sh
  tests/hardening/dev_shm_nodev.sh
  tests/hardening/dev_shm_noexec.sh
  tests/hardening/dev_shm_nosuid.sh
  tests/hardening/sshd_disable_gssapi.sh
  tests/hardening/sshd_idle_timeout.sh
  tests/hardening/sshd_limit_access.sh
  tests/hardening/sshd_login_grace_time.sh
  tests/hardening/sshd_loglevel.sh
  tests/hardening/sshd_maxauthtries.sh
  tests/hardening/timesyncd_authorized_server.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

make linter happy
  tests/launch_tests.sh
Due: none

make linter happy (#327)
  tests/launch_tests.sh
Due: none

fix: only report genuinely-installed packages in is_pkg_installed (#326)
  lib/utils.sh
  tests/hardening/audit_conf_group.sh
  tests/hardening/audit_conf_owner.sh
  tests/hardening/audit_confs_perms.sh
  tests/hardening/audit_log_directory_perms.sh
  tests/hardening/audit_log_group.sh
  tests/hardening/audit_log_perms.sh
  tests/hardening/audit_log_user.sh
  tests/hardening/audit_tools_group.sh
  tests/hardening/audit_tools_owner.sh
  tests/hardening/audit_tools_perms.sh
  tests/hardening/auditd_running_config_same_on_disk.sh
Due: shfmt, shellcheck

fix kernel module disabling scripts (#324)
  bin/hardening/disable_cramfs.sh
  bin/hardening/disable_dccp.sh
  bin/hardening/disable_freevxfs.sh
  bin/hardening/disable_hfs.sh
  bin/hardening/disable_hfsplus.sh
  bin/hardening/disable_jffs2.sh
  bin/hardening/disable_rds.sh
  bin/hardening/disable_sctp.sh
  bin/hardening/disable_squashfs.sh
  bin/hardening/disable_tipc.sh
  bin/hardening/disable_udf.sh
  bin/hardening/disable_usb_storage.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix kernel module disabling scripts (#324) (#328)
  bin/hardening/disable_cramfs.sh
  bin/hardening/disable_dccp.sh
  bin/hardening/disable_freevxfs.sh
  bin/hardening/disable_hfs.sh
  bin/hardening/disable_hfsplus.sh
  bin/hardening/disable_jffs2.sh
  bin/hardening/disable_rds.sh
  bin/hardening/disable_sctp.sh
  bin/hardening/disable_squashfs.sh
  bin/hardening/disable_tipc.sh
  bin/hardening/disable_udf.sh
  bin/hardening/disable_usb_storage.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

Update audit scripts for find log_file in file /etc/audit/auditd.conf (#321)
  bin/hardening/audit_log_directory_perms.sh
  bin/hardening/audit_log_group.sh
  bin/hardening/audit_log_perms.sh
  bin/hardening/audit_log_user.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix audit_log_group and audit_log_user
  bin/hardening/audit_log_group.sh
  bin/hardening/audit_log_user.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

Add tests case for audit checks
  tests/hardening/audit_log_directory_perms.sh
  tests/hardening/audit_log_group.sh
  tests/hardening/audit_log_perms.sh
  tests/hardening/audit_log_user.sh
Due: shfmt, shellcheck

Damcav35/test auditd (#330)
  bin/hardening/audit_log_group.sh
  bin/hardening/audit_log_user.sh
  tests/hardening/audit_log_directory_perms.sh
  tests/hardening/audit_log_group.sh
  tests/hardening/audit_log_perms.sh
  tests/hardening/audit_log_user.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

debian 11 is obsolete
  .github/copilot-instructions.md
  .github/workflows/functionnal-tests.yml
  MANUAL.md
  README.md
  tests/docker/Dockerfile.debian11
Due: none

Regenerate man pages (Github action)
  debian/cis-hardening.8
Due: none

main.sh : ensure confs are writable (#329)
  lib/main.sh
Due: none

bring back previous "--only" behaviour
  bin/hardening.sh
Due: none

Damcav35/issue 329 (#331)
  bin/hardening.sh
  lib/main.sh
Due: none

Add new debian12 scripts
  bin/hardening/cron_allow_restrictions.sh
  bin/hardening/gdm_disable_automount_overriden.sh
  bin/hardening/gdm_disable_autorun.sh
  bin/hardening/gdm_disable_xdmcp.sh
  bin/hardening/pam_pwhistory_enforce_root.sh
  bin/hardening/pam_pwhistory_use_authtok.sh
  tests/hardening/cron_allow_restrictions.sh
  tests/hardening/gdm_disable_automount_overriden.sh
  tests/hardening/gdm_disable_autorun.sh
  tests/hardening/gdm_disable_xdmcp.sh
  tests/hardening/pam_pwhistory_enforce_root.sh
  tests/hardening/pam_pwhistory_use_authtok.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

add new debian12 scripts
  bin/hardening/audit_chacl.sh
  bin/hardening/audit_chcon.sh
  bin/hardening/audit_file_deletion.sh
  bin/hardening/audit_setfacl.sh
  bin/hardening/audit_sudo_log.sh
  cisharden.sudoers
  tests/hardening/audit_chacl.sh
  tests/hardening/audit_chcon.sh
  tests/hardening/audit_file_deletion.sh
  tests/hardening/audit_setfacl.sh
  tests/hardening/audit_sudo_log.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

add a script to extract a recommendation from the CIS pdf
  utils/cis_extract.cfg
  utils/cis_extract_recommendation.sh
Due: none

add copilot instructions
  AGENTS.md
Due: none

Add new debian12 scripts (#333)
  bin/hardening/cron_allow_restrictions.sh
  bin/hardening/gdm_disable_automount_overriden.sh
  bin/hardening/gdm_disable_autorun.sh
  bin/hardening/gdm_disable_xdmcp.sh
  bin/hardening/pam_pwhistory_enforce_root.sh
  bin/hardening/pam_pwhistory_use_authtok.sh
  tests/hardening/cron_allow_restrictions.sh
  tests/hardening/gdm_disable_automount_overriden.sh
  tests/hardening/gdm_disable_autorun.sh
  tests/hardening/gdm_disable_xdmcp.sh
  tests/hardening/pam_pwhistory_enforce_root.sh
  tests/hardening/pam_pwhistory_use_authtok.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

Damcav35/tools (#334)
  AGENTS.md
  utils/cis_extract.cfg
  utils/cis_extract_recommendation.sh
Due: none

fix: missing link for config files
  lib/main.sh
Due: none

fix: missing link for config files (#337)
  lib/main.sh
Due: none

add new debian12 scripts
  AGENTS.md
  bin/hardening/audit_chacl.sh
  bin/hardening/audit_chcon.sh
  bin/hardening/audit_file_deletion.sh
  bin/hardening/audit_setfacl.sh
  bin/hardening/audit_sudo_log.sh
  cisharden.sudoers
  tests/hardening/audit_chacl.sh
  tests/hardening/audit_chcon.sh
  tests/hardening/audit_file_deletion.sh
  tests/hardening/audit_setfacl.sh
  tests/hardening/audit_sudo_log.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

Add new debian 12 scripts:
  AGENTS.md
  bin/hardening/acc_lock_inactive_shell.sh
  bin/hardening/audit_space_left_action.sh
  bin/hardening/audit_user_emulation.sh
  bin/hardening/audit_usermod.sh
  bin/hardening/check_root_gid.sh
  tests/hardening/acc_lock_inactive_shell.sh
  tests/hardening/audit_space_left_action.sh
  tests/hardening/audit_user_emulation.sh
  tests/hardening/audit_usermod.sh
  tests/hardening/check_root_gid.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

Add unit tests to ensure configuration management
  .github/workflows/engine-tests.yml
  AGENTS.md
  lib/main.sh
  tests/test_main_conf_links.sh
Due: none

add new debian12 scripts (#338)
  AGENTS.md
  bin/hardening/audit_chacl.sh
  bin/hardening/audit_chcon.sh
  bin/hardening/audit_file_deletion.sh
  bin/hardening/audit_setfacl.sh
  bin/hardening/audit_sudo_log.sh
  cisharden.sudoers
  tests/hardening/audit_chacl.sh
  tests/hardening/audit_chcon.sh
  tests/hardening/audit_file_deletion.sh
  tests/hardening/audit_setfacl.sh
  tests/hardening/audit_sudo_log.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

Add unit tests to ensure configuration management (#339)
  .github/workflows/engine-tests.yml
  AGENTS.md
  lib/main.sh
  tests/test_main_conf_links.sh
Due: none

Add new debian 12 scripts: (#341)
  AGENTS.md
  bin/hardening/acc_lock_inactive_shell.sh
  bin/hardening/audit_space_left_action.sh
  bin/hardening/audit_user_emulation.sh
  bin/hardening/audit_usermod.sh
  bin/hardening/check_root_gid.sh
  tests/hardening/acc_lock_inactive_shell.sh
  tests/hardening/audit_space_left_action.sh
  tests/hardening/audit_user_emulation.sh
  tests/hardening/audit_usermod.sh
  tests/hardening/check_root_gid.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

update existing scripts to debian 12 CIS standards
  bin/hardening/disable_ssh_allow_tcp_forwarding.sh
  bin/hardening/gdm_disable_automount_overriden.sh
  bin/hardening/gdm_disable_autorun.sh
  bin/hardening/halt_when_audit_log_full.sh
  bin/hardening/journald_logs.sh
  bin/hardening/ssh_cry_kex.sh
  bin/hardening/sshd_idle_timeout.sh
  tests/hardening/disable_ssh_allow_tcp_forwarding.sh
  tests/hardening/gdm_disable_automount_overriden.sh
  tests/hardening/gdm_disable_autorun.sh
  tests/hardening/journald_logs.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

Add debian 12 scripts
  bin/hardening/gdm_automatic_mounting_disabled.sh
  bin/hardening/gdm_autorun_never_not_overridden.sh
  bin/hardening/gdm_screen_lock_override_locked.sh
  bin/hardening/iptables_default_deny_policy.sh
  bin/hardening/message_access_server_services_not_in_use.sh
  bin/hardening/root_only_gid0_account.sh
  tests/hardening/gdm_automatic_mounting_disabled.sh
  tests/hardening/gdm_autorun_never_not_overridden.sh
  tests/hardening/gdm_screen_lock_override_locked.sh
  tests/hardening/iptables_default_deny_policy.sh
  tests/hardening/message_access_server_services_not_in_use.sh
  tests/hardening/root_only_gid0_account.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

update some scripts to debian 12 CIS standards
  AGENTS.md
  bin/hardening/disable_dhcp.sh
  bin/hardening/disable_dns_server.sh
  bin/hardening/disable_ftp.sh
  bin/hardening/disable_ldap.sh
  bin/hardening/disable_nfs_rpc.sh
  bin/hardening/disable_rsh_client.sh
  bin/hardening/dnsmasq_is_disabled.sh
  tests/hardening/disable_dhcp.sh
  tests/hardening/disable_dns_server.sh
  tests/hardening/disable_ftp.sh
  tests/hardening/disable_ldap.sh
  tests/hardening/disable_nfs_rpc.sh
  tests/hardening/disable_rsh_client.sh
  tests/hardening/dnsmasq_is_disabled.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

update scripts to debian 12 standards
  AGENTS.md
  bin/hardening/disable_automounting.sh
  bin/hardening/disable_avahi_server.sh
  bin/hardening/disable_http_proxy.sh
  bin/hardening/disable_http_server.sh
  bin/hardening/disable_nis.sh
  bin/hardening/disable_print_server.sh
  bin/hardening/disable_rsync.sh
  bin/hardening/disable_samba.sh
  bin/hardening/disable_snmp_server.sh
  bin/hardening/disable_xinetd.sh
  tests/hardening/disable_automounting.sh
  tests/hardening/disable_avahi_server.sh
  tests/hardening/disable_http_proxy.sh
  tests/hardening/disable_http_server.sh
  tests/hardening/disable_nis.sh
  tests/hardening/disable_print_server.sh
  tests/hardening/disable_rsync.sh
  tests/hardening/disable_samba.sh
  tests/hardening/disable_snmp_server.sh
  tests/hardening/disable_xinetd.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

update some scripts to debian 12 CIS standards
  AGENTS.md
  bin/hardening/acc_logindefs_sha512.sh
  bin/hardening/sshd_ciphers.sh
  bin/hardening/sshd_idle_timeout.sh
  tests/hardening/acc_logindefs_sha512.sh
  tests/hardening/sshd_ciphers.sh
  tests/hardening/sshd_idle_timeout.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix tests/hardening/sshd_protocol.sh
  tests/hardening/sshd_protocol.sh
Due: shfmt, shellcheck

fix default_timeout.sh
  AGENTS.md
  bin/hardening/default_timeout.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

Path conditions:
  check_has_test: any of: ^bin/hardening/
  shfmt: any of: ^(bin|tests)/hardening/
  shellcheck: any of: ^(bin|tests)/hardening/
  check_is_executable: any of: ^bin/hardening/
