Repository ovh/debian-cis: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_has_test, shfmt, shellcheck, check_is_executable

check_has_test:
  name: check_has_test.sh
  description: Ensure a check has a corresponding test
  entry: hooks/check_has_test.sh
  language: script
  pass_filenames: true

shfmt:
  name: shfmt.sh
  description: Ensure correct formatting
  entry: hooks/shfmt.sh
  language: script
  pass_filenames: true

shellcheck:
  name: shellcheck.sh
  description: Ensure correct syntax
  entry: hooks/shellcheck.sh
  language: script
  pass_filenames: true

check_is_executable:
  name: check_is_executable.sh
  description: Ensure checks are executables
  entry: hooks/check_is_executable.sh
  language: script
  pass_filenames: true

update mta_localhost.sh
  bin/hardening/mta_localhost.sh
  tests/hardening/mta_localhost.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

add new debian 12 scripts
  AGENTS.md
  bin/hardening/find_unowned_ungrouped_files.sh
  bin/hardening/local_login_banner.sh
  bin/hardening/nis_server_disabled.sh
  bin/hardening/pam_unix_strong_hash_algorithm.sh
  tests/hardening/find_unowned_ungrouped_files.sh
  tests/hardening/local_login_banner.sh
  tests/hardening/nis_server_disabled.sh
  tests/hardening/pam_unix_strong_hash_algorithm.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

m
  versions/debian_12/7.1.11_find_world_writable_file.sh
  versions/debian_12/7.1.11_find_world_writable_file_and_folders.sh
  versions/debian_12/7.1.11_sticky_bit_world_writable_folder.sh
Due: none

fix mapping
  versions/debian_12/7.1.11_find_world_writable_file_and_folders.sh
  versions/debian_12/7.1.11_find_world_writable_files_and_folders.sh
Due: none

fix ssh tests
  tests/hardening/configure_ssh_max_startups.sh
  tests/hardening/disable_root_login.sh
  tests/hardening/disable_ssh_allow_tcp_forwarding.sh
  tests/hardening/disable_sshd_hostbasedauthentication.sh
  tests/hardening/disable_sshd_permitemptypasswords.sh
  tests/hardening/disable_sshd_setenv.sh
  tests/hardening/disable_x11_forwarding.sh
  tests/hardening/enable_ssh_pam.sh
  tests/hardening/enable_sshd_ignorerhosts.sh
  tests/hardening/limit_ssh_max_sessions.sh
  tests/hardening/ssh_auth_pubk_only.sh
  tests/hardening/ssh_banner.sh
  tests/hardening/ssh_cry_kex.sh
  tests/hardening/ssh_cry_mac.sh
  tests/hardening/ssh_cry_rekey.sh
  tests/hardening/ssh_disable_features.sh
  tests/hardening/ssh_keys_from.sh
  tests/hardening/ssh_strict_modes.sh
  tests/hardening/ssh_sys_accept_env.sh
  tests/hardening/sshd_ciphers.sh
  tests/hardening/sshd_conf_perm_ownership.sh
  tests/hardening/sshd_disable_gssapi.sh
  tests/hardening/sshd_idle_timeout.sh
  tests/hardening/sshd_limit_access.sh
  tests/hardening/sshd_login_grace_time.sh
  tests/hardening/sshd_loglevel.sh
  tests/hardening/sshd_maxauthtries.sh
  tests/hardening/sshd_protocol.sh
Due: shfmt, shellcheck

fix ssh tests (#353)
  tests/hardening/configure_ssh_max_startups.sh
  tests/hardening/disable_root_login.sh
  tests/hardening/disable_ssh_allow_tcp_forwarding.sh
  tests/hardening/disable_sshd_hostbasedauthentication.sh
  tests/hardening/disable_sshd_permitemptypasswords.sh
  tests/hardening/disable_sshd_setenv.sh
  tests/hardening/disable_x11_forwarding.sh
  tests/hardening/enable_ssh_pam.sh
  tests/hardening/enable_sshd_ignorerhosts.sh
  tests/hardening/limit_ssh_max_sessions.sh
  tests/hardening/ssh_auth_pubk_only.sh
  tests/hardening/ssh_banner.sh
  tests/hardening/ssh_cry_kex.sh
  tests/hardening/ssh_cry_mac.sh
  tests/hardening/ssh_cry_rekey.sh
  tests/hardening/ssh_disable_features.sh
  tests/hardening/ssh_keys_from.sh
  tests/hardening/ssh_strict_modes.sh
  tests/hardening/ssh_sys_accept_env.sh
  tests/hardening/sshd_ciphers.sh
  tests/hardening/sshd_conf_perm_ownership.sh
  tests/hardening/sshd_disable_gssapi.sh
  tests/hardening/sshd_idle_timeout.sh
  tests/hardening/sshd_limit_access.sh
  tests/hardening/sshd_login_grace_time.sh
  tests/hardening/sshd_loglevel.sh
  tests/hardening/sshd_maxauthtries.sh
  tests/hardening/sshd_protocol.sh
Due: shfmt, shellcheck

update some scripts to debian 12 CIS standards
  AGENTS.md
  bin/hardening/acc_logindefs_sha512.sh
  bin/hardening/sshd_ciphers.sh
  bin/hardening/sshd_idle_timeout.sh
  tests/hardening/acc_logindefs_sha512.sh
  tests/hardening/sshd_ciphers.sh
  tests/hardening/sshd_idle_timeout.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

remove some placeholders checks
  bin/hardening/disable_wireless.sh
  bin/hardening/graphical_warning_banners.sh
  tests/hardening/disable_wireless.sh
  tests/hardening/graphical_warning_banners.sh
  versions/ovh_legacy/1.8.2_graphical_warning_banners.sh
  versions/ovh_legacy/3.1.2_disable_wireless.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

remove some placeholders checks (#354)
  bin/hardening/disable_wireless.sh
  bin/hardening/graphical_warning_banners.sh
  tests/hardening/disable_wireless.sh
  tests/hardening/graphical_warning_banners.sh
  versions/ovh_legacy/1.8.2_graphical_warning_banners.sh
  versions/ovh_legacy/3.1.2_disable_wireless.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

update placeholders tests
  tests/hardening/audit_backlog_limit.sh
  tests/hardening/audit_bootloader.sh
  tests/hardening/bootloader_ownership.sh
  tests/hardening/bootloader_password.sh
  tests/hardening/default_timeout.sh
  tests/hardening/disable_ldap_client.sh
  tests/hardening/disable_prelink.sh
  tests/hardening/disable_rsync.sh
  tests/hardening/disable_talk_client.sh
  tests/hardening/disable_telnet_client.sh
  tests/hardening/disable_xwindow_system.sh
  tests/hardening/enable_cron.sh
  tests/hardening/logs_permissions.sh
  tests/hardening/restrict_core_dumps.sh
  tests/hardening/root_password.sh
  tests/hardening/uninstall_nis.sh
Due: shfmt, shellcheck

add new debian 12 scripts
  AGENTS.md
  bin/hardening/find_unowned_ungrouped_files.sh
  bin/hardening/find_world_writable_files_and_folders.sh
  bin/hardening/graphical_warning_banners.sh
  bin/hardening/local_login_banner.sh
  bin/hardening/nis_server_disabled.sh
  bin/hardening/pam_unix_strong_hash_algorithm.sh
  bin/hardening/password_last_change_past.sh
  tests/hardening/find_unowned_ungrouped_files.sh
  tests/hardening/find_world_writable_files_and_folders.sh
  tests/hardening/graphical_warning_banners.sh
  tests/hardening/local_login_banner.sh
  tests/hardening/nis_server_disabled.sh
  tests/hardening/pam_unix_strong_hash_algorithm.sh
  tests/hardening/password_last_change_past.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

refacto "engine" conf test
  .github/workflows/engine-tests.yml
  tests/engine/lib.sh
  tests/engine/test_main_conf_links.sh
Due: none

fix --set-hardening-level bug
  bin/hardening.sh
Due: none

add 'engine' test on --set-hardening-level
  .github/workflows/engine-tests.yml
  tests/engine/test_hardening_level.sh
Due: none

add engine '--sudo' tests
  .github/workflows/engine-tests.yml
  tests/engine/lib.sh
  tests/engine/test_sudo.sh
Due: none

add engine '--batch' tests
  .github/workflows/engine-tests.yml
  tests/engine/test_batch_mode.sh
Due: none

add engine '--set-log-level' tests
  .github/workflows/engine-tests.yml
  tests/engine/test_log_level.sh
Due: none

add engine '--only' tests
  .github/workflows/engine-tests.yml
  tests/engine/test_only.sh
Due: none

add engine '--set-version' tests
  .github/workflows/engine-tests.yml
  tests/engine/test_version.sh
Due: none

add engine '--summary-json' tests
  .github/workflows/engine-tests.yml
  tests/engine/test_summary_json.sh
Due: none

add engine '--audit' tests
  .github/workflows/engine-tests.yml
  tests/engine/test_audit.sh
Due: none

add engine '--audit-all' tests
  .github/workflows/engine-tests.yml
  tests/engine/test_audit_all.sh
Due: none

add engine '--audit-all-enabled-passed' tests
  .github/workflows/engine-tests.yml
  tests/engine/test_audit_all_enable.sh
Due: none

make linter happy
  tests/engine/test_audit.sh
  tests/engine/test_audit_all.sh
  tests/engine/test_audit_all_enable.sh
  tests/engine/test_batch_mode.sh
  tests/engine/test_hardening_level.sh
  tests/engine/test_log_level.sh
  tests/engine/test_main_conf_links.sh
  tests/engine/test_only.sh
  tests/engine/test_sudo.sh
  tests/engine/test_summary_json.sh
  tests/engine/test_version.sh
Due: none

add missing bin/hardening/find_world_writable_files_and_folders.sh
  bin/hardening/find_world_writable_files_and_folders.sh
  tests/hardening/find_world_writable_files_and_folders.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix(pam_faillock): write deny profile to the filename that is enabled
  bin/hardening/pam_faillock_enabled.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix(logfile_sudo): write a validated sudoers.d drop-in instead of editing /etc/sudoers
  bin/hardening/logfile_sudo.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix(utils): only append mount options to the options field in fstab
  lib/utils.sh
Due: none

bug fixes: unbound variables
  bin/hardening/find_suid_and_sgid_files.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

bug fixes: unbound variables (#364)
  bin/hardening/find_suid_and_sgid_files.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

update exceptions find_suid_and_sgid_files.sh
  bin/hardening/find_suid_and_sgid_files.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

Add debian 12 scripts
  bin/hardening/gdm_automatic_mounting_disabled.sh
  bin/hardening/gdm_autorun_never_not_overridden.sh
  bin/hardening/gdm_screen_lock_override_locked.sh
  bin/hardening/iptables_default_deny_policy.sh
  bin/hardening/message_access_server_services_not_in_use.sh
  bin/hardening/root_only_gid0_account.sh
  tests/hardening/gdm_automatic_mounting_disabled.sh
  tests/hardening/gdm_autorun_never_not_overridden.sh
  tests/hardening/gdm_screen_lock_override_locked.sh
  tests/hardening/iptables_default_deny_policy.sh
  tests/hardening/message_access_server_services_not_in_use.sh
  tests/hardening/root_only_gid0_account.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix: detect a native nftables ruleset in the firewall policy checks
  bin/hardening/net_fw_default_policy_drop.sh
  bin/hardening/nftables_default_deny_policy.sh
  bin/hardening/nftables_established_connections.sh
  bin/hardening/nftables_has_base_chains.sh
  bin/hardening/nftables_loopback_is_configured.sh
  bin/hardening/nftables_rules_permanent.sh
  lib/utils.sh
  tests/hardening/net_fw_default_policy_drop.sh
  tests/hardening/nftables_default_deny_policy.sh
  tests/hardening/nftables_has_base_chains.sh
  tests/hardening/nftables_rules_permanent.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix(logfile_sudo): write a validated sudoers.d drop-in instead of editing /etc/sudoers (#361)
  bin/hardening/logfile_sudo.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix(pam_faillock): write deny profile to the filename that is enabled (#360)
  bin/hardening/pam_faillock_enabled.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

update "password_history_remember.sh" to debian 12 standards
  bin/hardening/password_history_remember.sh
  tests/hardening/password_history_remember.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

Path conditions:
  check_has_test: any of: ^bin/hardening/
  shfmt: any of: ^(bin|tests)/hardening/
  shellcheck: any of: ^(bin|tests)/hardening/
  check_is_executable: any of: ^bin/hardening/
