Repository ovh/debian-cis: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_has_test, shfmt, shellcheck, check_is_executable

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check_has_test
        name: check_has_test.sh
        description: Ensure a check has a corresponding test
        entry: hooks/check_has_test.sh
        language: script
        pass_filenames: true
        files: "^bin/hardening/"
      - id: shfmt
        name: shfmt.sh
        description: Ensure correct formatting
        entry: hooks/shfmt.sh
        language: script
        pass_filenames: true
        files: "^(bin|tests)/hardening/"
      - id: shellcheck
        name: shellcheck.sh
        description: Ensure correct syntax
        entry: hooks/shellcheck.sh
        language: script
        pass_filenames: true
        files: "^(bin|tests)/hardening/"
      - id: check_is_executable
        name: check_is_executable.sh
        description: Ensure checks are executables
        entry: hooks/check_is_executable.sh
        language: script
        pass_filenames: true
        files: "^bin/hardening/"

fix: is_ipv6_enabled: scope function variables to local
  lib/utils.sh
Due: none

feat: add debian12 scripts
  bin/hardening/ip6tables_default_deny_policy.sh
  bin/hardening/ip6tables_loopback.sh
  bin/hardening/ip6tables_outbound_established.sh
  bin/hardening/ip6tables_rules_them_all.sh
  bin/hardening/iptables_loopback.sh
  bin/hardening/iptables_outbound_established.sh
  bin/hardening/iptables_rules_them_all.sh
  tests/hardening/ip6tables_default_deny_policy.sh
  tests/hardening/ip6tables_loopback.sh
  tests/hardening/ip6tables_outbound_established.sh
  tests/hardening/ip6tables_rules_them_all.sh
  tests/hardening/iptables_loopback.sh
  tests/hardening/iptables_outbound_established.sh
  tests/hardening/iptables_rules_them_all.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

feat: add debian12 scripts (#297)
  bin/hardening/ip6tables_default_deny_policy.sh
  bin/hardening/ip6tables_loopback.sh
  bin/hardening/ip6tables_outbound_established.sh
  bin/hardening/ip6tables_rules_them_all.sh
  bin/hardening/iptables_loopback.sh
  bin/hardening/iptables_outbound_established.sh
  bin/hardening/iptables_rules_them_all.sh
  tests/hardening/ip6tables_default_deny_policy.sh
  tests/hardening/ip6tables_loopback.sh
  tests/hardening/ip6tables_outbound_established.sh
  tests/hardening/ip6tables_rules_them_all.sh
  tests/hardening/iptables_loopback.sh
  tests/hardening/iptables_outbound_established.sh
  tests/hardening/iptables_rules_them_all.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

feat: add trixie docker build
  .github/workflows/functionnal-tests.yml
  tests/docker/Dockerfile.debian13
  tests/hardening/acc_logindefs_sha512.sh
  tests/hardening/check_user_dot_file_perm.sh
  tests/hardening/find_user_forward_files.sh
  tests/hardening/find_user_netrc_files.sh
  tests/hardening/find_user_rhosts_files.sh
  tests/hardening/set_perm_on_user_netrc.sh
  tests/hardening/ssh_sys_accept_env.sh
  tests/hardening/tftp_is_disabled.sh
  tests/hardening/use_time_sync.sh
Due: shfmt, shellcheck

feat: add trixie docker build (#299)
  .github/workflows/functionnal-tests.yml
  tests/docker/Dockerfile.debian13
  tests/hardening/acc_logindefs_sha512.sh
  tests/hardening/check_user_dot_file_perm.sh
  tests/hardening/find_user_forward_files.sh
  tests/hardening/find_user_netrc_files.sh
  tests/hardening/find_user_rhosts_files.sh
  tests/hardening/set_perm_on_user_netrc.sh
  tests/hardening/ssh_sys_accept_env.sh
  tests/hardening/tftp_is_disabled.sh
  tests/hardening/use_time_sync.sh
Due: shfmt, shellcheck

feat: add debian12 scripts
  bin/hardening/enable_lockout_failed_password.sh
  bin/hardening/pam_faillock_enabled.sh
  bin/hardening/pam_pwhistory_enabled.sh
  bin/hardening/pam_unix_enabled.sh
  bin/hardening/password_failed_lockout.sh
  bin/hardening/password_root_unlock.sh
  bin/hardening/password_unlock_time.sh
  bin/hardening/sudo_re_authenticate.sh
  tests/hardening/enable_lockout_failed_password.sh
  tests/hardening/pam_faillock_enabled.sh
  tests/hardening/pam_pwhistory_enabled.sh
  tests/hardening/pam_unix_enabled.sh
  tests/hardening/password_failed_lockout.sh
  tests/hardening/password_root_unlock.sh
  tests/hardening/password_unlock_time.sh
  tests/hardening/sudo_re_authenticate.sh
  versions/ovh_legacy/5.3.2_enable_lockout_failed_password.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

feat: add debian12 scripts (#300)
  bin/hardening/enable_lockout_failed_password.sh
  bin/hardening/pam_faillock_enabled.sh
  bin/hardening/pam_pwhistory_enabled.sh
  bin/hardening/pam_unix_enabled.sh
  bin/hardening/password_failed_lockout.sh
  bin/hardening/password_root_unlock.sh
  bin/hardening/password_unlock_time.sh
  bin/hardening/sudo_re_authenticate.sh
  tests/hardening/enable_lockout_failed_password.sh
  tests/hardening/pam_faillock_enabled.sh
  tests/hardening/pam_pwhistory_enabled.sh
  tests/hardening/pam_unix_enabled.sh
  tests/hardening/password_failed_lockout.sh
  tests/hardening/password_root_unlock.sh
  tests/hardening/password_unlock_time.sh
  tests/hardening/sudo_re_authenticate.sh
  versions/ovh_legacy/5.3.2_enable_lockout_failed_password.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

feat: Add CDS v2 workflow
  .cds/workflows/packaging.yml
Due: none

feat: Add CDS v2 workflow (#304)
  .cds/workflows/packaging.yml
Due: none

feat: add debian12 scripts
  bin/hardening/nologin_abent_from_etc_shells.sh
  bin/hardening/password_dictcheck_enabled.sh
  bin/hardening/password_number_changed_chars.sh
  bin/hardening/password_quality_enforced.sh
  bin/hardening/password_quality_enforced_for_root.sh
  bin/hardening/root_umask.sh
  tests/hardening/nologin_abent_from_etc_shells.sh
  tests/hardening/password_dictcheck_enabled.sh
  tests/hardening/password_number_changed_chars.sh
  tests/hardening/password_quality_enforced.sh
  tests/hardening/password_quality_enforced_for_root.sh
  tests/hardening/root_umask.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

feat: add debian12 scripts (#301)
  bin/hardening/nologin_abent_from_etc_shells.sh
  bin/hardening/password_dictcheck_enabled.sh
  bin/hardening/password_number_changed_chars.sh
  bin/hardening/password_quality_enforced.sh
  bin/hardening/password_quality_enforced_for_root.sh
  bin/hardening/root_umask.sh
  tests/hardening/nologin_abent_from_etc_shells.sh
  tests/hardening/password_dictcheck_enabled.sh
  tests/hardening/password_number_changed_chars.sh
  tests/hardening/password_quality_enforced.sh
  tests/hardening/password_quality_enforced_for_root.sh
  tests/hardening/root_umask.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix: check configuration management
  lib/main.sh
Due: none

fix: check configuration management (#305)
  lib/main.sh
Due: none

feat: add new debian12 scripts
  bin/hardening/audit_confs_perms.sh
  bin/hardening/audit_log_directory_perms.sh
  bin/hardening/audit_log_group.sh
  bin/hardening/audit_log_perms.sh
  bin/hardening/audit_log_user.sh
  bin/hardening/journald_log_file_access.sh
  bin/hardening/journald_log_rotation.sh
  tests/hardening/audit_confs_perms.sh
  tests/hardening/audit_log_directory_perms.sh
  tests/hardening/audit_log_group.sh
  tests/hardening/audit_log_perms.sh
  tests/hardening/audit_log_user.sh
  tests/hardening/journald_log_file_access.sh
  tests/hardening/journald_log_rotation.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

feat: add new debian12 scripts (#306)
  bin/hardening/audit_confs_perms.sh
  bin/hardening/audit_log_directory_perms.sh
  bin/hardening/audit_log_group.sh
  bin/hardening/audit_log_perms.sh
  bin/hardening/audit_log_user.sh
  bin/hardening/journald_log_file_access.sh
  bin/hardening/journald_log_rotation.sh
  tests/hardening/audit_confs_perms.sh
  tests/hardening/audit_log_directory_perms.sh
  tests/hardening/audit_log_group.sh
  tests/hardening/audit_log_perms.sh
  tests/hardening/audit_log_user.sh
  tests/hardening/journald_log_file_access.sh
  tests/hardening/journald_log_rotation.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

feat: add new debian12 scripts
  bin/hardening/audit_conf_group.sh
  bin/hardening/audit_conf_owner.sh
  bin/hardening/audit_tools_group.sh
  bin/hardening/audit_tools_owner.sh
  bin/hardening/audit_tools_perms.sh
  tests/hardening/audit_conf_group.sh
  tests/hardening/audit_conf_owner.sh
  tests/hardening/audit_tools_group.sh
  tests/hardening/audit_tools_owner.sh
  tests/hardening/audit_tools_perms.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

feat: add new debian12 scripts (#308)
  bin/hardening/audit_conf_group.sh
  bin/hardening/audit_conf_owner.sh
  bin/hardening/audit_tools_group.sh
  bin/hardening/audit_tools_owner.sh
  bin/hardening/audit_tools_perms.sh
  tests/hardening/audit_conf_group.sh
  tests/hardening/audit_conf_owner.sh
  tests/hardening/audit_tools_group.sh
  tests/hardening/audit_tools_owner.sh
  tests/hardening/audit_tools_perms.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

feat: add debian12 scripts
  bin/hardening/etc_passwd_accounts_use_shadow.sh
  bin/hardening/etc_passwd_groups_in_etc_group.sh
  bin/hardening/etc_security_opasswd_permissions.sh
  bin/hardening/etc_shadow_fields_not_empty.sh
  bin/hardening/etc_shells_permissions.sh
  tests/hardening/etc_passwd_accounts_use_shadow.sh
  tests/hardening/etc_passwd_groups_in_etc_group.sh
  tests/hardening/etc_security_opasswd_permissions.sh
  tests/hardening/etc_shadow_fields_not_empty.sh
  tests/hardening/etc_shells_permissions.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

feat: add debian12 scripts (#309)
  bin/hardening/etc_passwd_accounts_use_shadow.sh
  bin/hardening/etc_passwd_groups_in_etc_group.sh
  bin/hardening/etc_security_opasswd_permissions.sh
  bin/hardening/etc_shadow_fields_not_empty.sh
  bin/hardening/etc_shells_permissions.sh
  tests/hardening/etc_passwd_accounts_use_shadow.sh
  tests/hardening/etc_passwd_groups_in_etc_group.sh
  tests/hardening/etc_security_opasswd_permissions.sh
  tests/hardening/etc_shadow_fields_not_empty.sh
  tests/hardening/etc_shells_permissions.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix: sed command in readme
  README.md
Due: none

fix: sed command in readme (#311)
  README.md
Due: none

feat: add debian12 scripts
  bin/hardening/auditd_running_config_same_on_disk.sh
  bin/hardening/find_suid_and_sgid_files.sh
  bin/hardening/pam_unix_nullok_absent.sh
  bin/hardening/pam_unix_remember_absent.sh
  bin/hardening/pam_use_authtok_enabled.sh
  cisharden.sudoers
  tests/hardening/auditd_running_config_same_on_disk.sh
  tests/hardening/find_suid_and_sgid_files.sh
  tests/hardening/pam_unix_nullok_absent.sh
  tests/hardening/pam_unix_remember_absent.sh
  tests/hardening/pam_use_authtok_enabled.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

support debian 13
  README.md
  lib/constants.sh
Due: none

support debian 13 (#313)
  README.md
  lib/constants.sh
Due: none

feat: add debian12 scripts (#312)
  bin/hardening/auditd_running_config_same_on_disk.sh
  bin/hardening/find_suid_and_sgid_files.sh
  bin/hardening/pam_unix_nullok_absent.sh
  bin/hardening/pam_unix_remember_absent.sh
  bin/hardening/pam_use_authtok_enabled.sh
  cisharden.sudoers
  tests/hardening/auditd_running_config_same_on_disk.sh
  tests/hardening/find_suid_and_sgid_files.sh
  tests/hardening/pam_unix_nullok_absent.sh
  tests/hardening/pam_unix_remember_absent.sh
  tests/hardening/pam_use_authtok_enabled.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

add ntpsec in allowed time synchronization packages
  bin/hardening/use_time_sync.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

update debian package to 4.1-6
  debian/changelog
Due: none

Damcava35/ntpsec allowed (#314)
  bin/hardening/use_time_sync.sh
  debian/changelog
Due: check_has_test, shfmt, shellcheck, check_is_executable

add new scripts for debian12
  bin/hardening/gdm_disable_user_list.sh
  bin/hardening/gnome_screensaver_idle_lock.sh
  bin/hardening/grub_cfg_permissions.sh
  bin/hardening/issue_no_os_info.sh
  bin/hardening/motd_no_os_info.sh
  tests/hardening/gdm_disable_user_list.sh
  tests/hardening/gnome_screensaver_idle_lock.sh
  tests/hardening/grub_cfg_permissions.sh
  tests/hardening/issue_no_os_info.sh
  tests/hardening/motd_no_os_info.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

add new scripts for debian12 (#319)
  bin/hardening/gdm_disable_user_list.sh
  bin/hardening/gnome_screensaver_idle_lock.sh
  bin/hardening/grub_cfg_permissions.sh
  bin/hardening/issue_no_os_info.sh
  bin/hardening/motd_no_os_info.sh
  tests/hardening/gdm_disable_user_list.sh
  tests/hardening/gnome_screensaver_idle_lock.sh
  tests/hardening/grub_cfg_permissions.sh
  tests/hardening/issue_no_os_info.sh
  tests/hardening/motd_no_os_info.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

add new scripts for debian12
  bin/hardening/chrony_authorized_server.sh
  bin/hardening/dev_shm_nodev.sh
  bin/hardening/dev_shm_noexec.sh
  bin/hardening/dev_shm_nosuid.sh
  bin/hardening/sshd_disable_gssapi.sh
  bin/hardening/timesyncd_authorized_server.sh
  tests/hardening/chrony_authorized_server.sh
  tests/hardening/dev_shm_nodev.sh
  tests/hardening/dev_shm_noexec.sh
  tests/hardening/dev_shm_nosuid.sh
  tests/hardening/sshd_disable_gssapi.sh
  tests/hardening/timesyncd_authorized_server.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

install openssh-server for tests requiring to start sshd
  tests/hardening/sshd_idle_timeout.sh
  tests/hardening/sshd_limit_access.sh
  tests/hardening/sshd_login_grace_time.sh
  tests/hardening/sshd_loglevel.sh
  tests/hardening/sshd_maxauthtries.sh
Due: shfmt, shellcheck

Add new debian 12 scripts:
  bin/hardening/acc_lock_inactive_shell.sh
  bin/hardening/audit_space_left_action.sh
  bin/hardening/audit_user_emulation.sh
  bin/hardening/audit_usermod.sh
  bin/hardening/check_root_gid.sh
  tests/hardening/acc_lock_inactive_shell.sh
  tests/hardening/audit_space_left_action.sh
  tests/hardening/audit_user_emulation.sh
  tests/hardening/audit_usermod.sh
  tests/hardening/check_root_gid.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix: replace undefined LOADED_MODULE_NAME with MODULE_NAME in disable_rds.sh
  bin/hardening/disable_rds.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix: replace undefined LOADED_MODULE_NAME with MODULE_NAME in disable_tipc.sh
  bin/hardening/disable_tipc.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable

fix: update variable name for loaded kernel modules in hardening scripts
  bin/hardening/disable_cramfs.sh
  bin/hardening/disable_dccp.sh
  bin/hardening/disable_freevxfs.sh
  bin/hardening/disable_hfs.sh
  bin/hardening/disable_hfsplus.sh
  bin/hardening/disable_jffs2.sh
  bin/hardening/disable_rds.sh
  bin/hardening/disable_sctp.sh
  bin/hardening/disable_squashfs.sh
  bin/hardening/disable_tipc.sh
  bin/hardening/disable_udf.sh
Due: check_has_test, shfmt, shellcheck, check_is_executable
